.button {
  padding: 1rem 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-header-account-text;
  @include font($size: 1rem, $height: 150%, $weight: 500, $letter: 0.0025em);
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  position: relative;
  top: 0.125rem;
}

.button-active {
  color: $color-header-account-text-active;
  background-color: $color-header-account-background-active;
}
