.layout-2-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.column--about {
  column-gap: 3.5rem;
  justify-content: unset;
  align-items: flex-start;
}

.layout--customer {
  margin-bottom: 3rem;
}

.footer--layout {
  align-items: unset;
}
