.tag {
  padding: 0.75rem 1.5rem;

  display: flex;
  align-items: center;

  color: $color-tag-text;
  @include font($size: 1.125rem, $height: 144%, $weight: 500, $letter: 0.5px);
}

.tag-real-estate {
  text-transform: uppercase;
  background-color: $color-tag-background;
}
