.container-about {
  position: relative;
  padding: 7.5rem 7.75rem;
}

.about__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.about__label {
  z-index: 2;
  position: relative;

  margin-left: 10.4375rem;
  margin-bottom: 4rem;
  padding: 0.1668rem;

  display: inline-block;

  width: 2rem;
  height: 2rem;
}

.about__label::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 0.125rem solid $color-about-checkbox-border;
  border-radius: 30%;
  cursor: pointer;
}

.about__input:checked + .about__label::after {
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("../../img/icon/tick-square.svg");
}

.rating {
  padding: 2rem;
  z-index: 1;

  display: none;
  position: absolute;
  top: 8.5rem;
  left: 13.75rem;

  background-color: $color-about-rating-background;
  @extend %rating-box-shadow;
}

.about__input:checked ~ .rating {
  display: block;
}

.rating__digit {
  margin-bottom: 0.5rem;
  @include font($size: 4.5rem, $height: 111%, $weight: 400, $letter: 0.0025em);
}

.rating__stars {
  margin-bottom: 1rem;
  height: 1.125rem;
}

.star {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/icon/star-rating.svg");
}

.rating__info {
  margin-bottom: 0.125rem;
  text-align: center;
  color: $colot-about-rating-info-text;
  @include font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.0025em);
}

.rating__reviews {
  text-align: center;
  color: $colot-about-rating-review-text;
  @include font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.0025em);
}

.about__image {
  position: relative;
  flex: 40%;
}

.about__property {
  position: absolute;

  padding: 0.75rem 2rem;

  right: 0;
  bottom: 0;

  display: flex;
  column-gap: 2.25rem;

  color: $color-about-property-text;
  background-color: $color-about-property-background;
  @include font($size: 1rem, $height: 162%, $weight: 400, $letter: 0.0025em);
}

.property,
.apartament {
  display: flex;
  column-gap: 0.5rem;
}

.property__digit,
.apartament__digit {
  color: $color-about-property-digit;
  @include font($size: 3rem, $height: 121%, $weight: 600, $letter: 0.0025em);
}

.about__content {
  flex: 33%;
  padding-top: 2.1875rem;
}

.about__tag {
  margin-bottom: 1rem;
  display: inline-block;
}

.about__title {
  margin-bottom: 1rem;
}

.about__description {
  margin-top: 0;
  margin-bottom: 3rem;
  max-width: 31.5625rem;

  color: $color-about-description-text;
  @include font($size: 1rem, $height: 162%, $weight: 400, $letter: 0.0025em);
}
