.discover {
  background-color: $color-discover-background;
}

.discover-container {
  padding: 7.5rem 7.75rem;
}

.discover__tag {
  margin-bottom: 1rem;
  display: inline-block;
}

.discover__title {
  margin-bottom: 1rem;
}

.discover__description {
  margin-bottom: 3rem;

  display: flex;
  justify-content: space-between;
}

.discover__description-text {
  margin: 0;
  max-width: $width-discover-description;

  color: $color-discover-description-text;
  @include font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.0025em);
}

.discover-list {
  display: flex;
  column-gap: 2.125rem;
}

.card {
  padding: 1rem;
  border: 0.0625rem solid $color-card-border;
}

.card__image {
  margin-bottom: 1rem;
}

.image .source {
  border-style: none;
  vertical-align: top;
}

.card__title {
  margin-bottom: 0.5rem;
}

.card__description {
  margin-top: 0;
  margin-bottom: 1rem;
  color: $color-card-description;
  @include font($size: 1rem, $height: 162%, $weight: 400, $letter: 0.0025em);
}

.card__price {
  margin-bottom: 1.375rem;

  display: flex;
  column-gap: 2rem;
}

.price {
  color: $color-card-price-text;
  @include font($size: 1.5rem, $height: 133%, $weight: 600, $letter: 0.0025em);
}

.card__size {
  padding: 0.1875rem 0.5rem;
  display: inline-block;

  font-family: "Roboto Slab";
  color: $color-card-size;

  background-color: $color-card-size-background;
  @include font($size: 1rem, $height: 150%, $weight: 400, $letter: 0.0025em);
}

.size {
  color: $color-card-size-digit;
}

.prefix {
  position: relative;
  bottom: 0.4rem;
  font-size: 0.625rem;

  color: $color-card-size-digit;
}
