$width: 90rem;

$palette-color-ocean-green: #4ba586;
$palette-color-titan-white: #fefeff;
$palette-color-white: #ffffff;
$palette-color-gray: #8e8e8e;
$palette-color-silver-tree: #69b99d;

$color-link-text: $palette-color-gray;
$color-link-text-current: $palette-color-silver-tree;
$color-link-border-current: $palette-color-silver-tree;

$color-header-logo-background: $palette-color-ocean-green;
$color-header-logo-image-text: $palette-color-titan-white;
$color-header-logo-text: $palette-color-ocean-green;

$color-header-account-background-active: $palette-color-silver-tree;
$color-header-account-text: $palette-color-silver-tree;
$color-header-account-text-active: $palette-color-white;
