$width: 90rem;
$width-real-estate-title: 37.8125rem;
$width-real-estate-description: 31.375rem;
$width-discover-description: 30.75rem;
$width-our-advante-title: 27.25rem;
$height-real-estate: 42.9375rem;

$palette-color-ocean-green: #4ba586;
$palette-color-titan-white: #fefeff;
$palette-color-white: #ffffff;
$palette-color-gray: #8e8e8e;
$palette-color-silver-tree: #69b99d;
$palette-color-wild-sand: #f5f5f5;
$palette-color-selago: #f8f9fe;
$palette-color-cloud-burst: #1f2744;
$palette-color-storm-gray: #73788c;
$palette-color-silver-chalice: #a6a6a6;
$pakette-color-teal-blue: #054457;
$palette-color-westar: #dedcda;
$palette-color-firefly: #0b2e29;
$palette-color-boulder: #767676;
$palette-color-alto: #d7d7d7;
$palette-color-black-haze: #f8f9f9;

$color-header-background: $palette-color-wild-sand;
$color-real-estate-background: $palette-color-wild-sand;
$color-discover-background: $palette-color-titan-white;
$color-our-advante-background: $palette-color-wild-sand;
$color-footer-background: $palette-color-wild-sand;

$color-link-text: $palette-color-gray;
$color-link-text-current: $palette-color-silver-tree;
$color-link-border-current: $palette-color-silver-tree;

$color-button-disabled: $palette-color-gray;
$color-button-disabled-text: $palette-color-titan-white;
$color-button-disabled-border: $palette-color-gray;

$color-tag-text: $palette-color-silver-tree;
$color-tag-background: $palette-color-selago;

$color-title-xxl-text: $palette-color-cloud-burst;
$color-title-xl-text: $pakette-color-teal-blue;
$color-title-lg-text: $palette-color-cloud-burst;
$color-title-md-text: $pakette-color-teal-blue;
$color-title-sm-text: $palette-color-firefly;
$color-title-xs-text: $palette-color-cloud-burst;

$color-header-logo-background: $palette-color-ocean-green;
$color-header-logo-image-text: $palette-color-titan-white;
$color-header-logo-text: $palette-color-ocean-green;

$color-header-account-background-active: $palette-color-silver-tree;
$color-header-account-text: $palette-color-silver-tree;
$color-header-account-text-active: $palette-color-white;

$color-real-state-description-text: $palette-color-storm-gray;
$color-tab-text: $palette-color-silver-chalice;
$color-tab-text-active: $palette-color-silver-tree;
$color-tab-background-active: $palette-color-titan-white;
$color-tab-description-background: $palette-color-titan-white;
$color-tab-description-item-title: $palette-color-cloud-burst;
$color-tab-description-item-select: $palette-color-silver-chalice;
$color-tab-button-search-background: $palette-color-silver-tree;
$color-tab-button-search-text: $palette-color-white;

$color-discover-description-text: $palette-color-storm-gray;
$color-card-border: $palette-color-westar;
$color-card-description: $palette-color-silver-chalice;
$color-card-price-text: $palette-color-silver-tree;
$color-card-size: $palette-color-silver-chalice;
$color-card-size-digit: $palette-color-cloud-burst;
$color-card-size-background: $palette-color-wild-sand;
$color-card-button-border: $palette-color-silver-tree;
$color-card-button-background-hover: $palette-color-silver-tree;
$color-card-button-text-hover: $palette-color-titan-white;

$color-our-advante-description-text: $palette-color-storm-gray;

$color-about-checkbox-border: $palette-color-silver-tree;
$color-about-rating-background: $palette-color-titan-white;
$colot-about-rating-info-text: $palette-color-silver-chalice;
$colot-about-rating-review-text: $pakette-color-teal-blue;
$color-about-property-background: $palette-color-white;
$color-about-property-text: $palette-color-silver-chalice;
$color-about-property-digit: $pakette-color-teal-blue;
$color-about-description-text: $palette-color-storm-gray;
$color-about-button-background: $palette-color-silver-tree;
$color-about-button-text: $palette-color-titan-white;

$color-customer-border: $palette-color-westar;
$color-customer-description-text: $palette-color-cloud-burst;
$color-customer-user-name-text: $palette-color-firefly;
$color-customer-user-job-text: $palette-color-boulder;

$color-footer-description-text: $palette-color-cloud-burst;
$color-footer-input-text: $palette-color-alto;
$color-footer-button-send-background: $palette-color-silver-tree;
$color-footer-button-text: $palette-color-titan-white;
$color-footer-social-item-background: $palette-color-black-haze;
